### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# File to Load (Remember to Change These)
file_to_load = 'purchase_data.csv'

In [4]:
# Read Purchasing File and store into Pandas data frame
purchases_df = pd.read_csv(file_to_load, encoding="utf-8", delimiter = ",")
purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Review the column types
#purchases_df.dtypes

In [6]:
#This is only the count of the players who have purchased something. 
#This dataset only shows the purchases.
#There may be additional players that did not purchase any items. 
player_names = len(purchases_df['SN'].unique())
#player_names

In [7]:
#purchases_df['Item ID'].value_counts()

## Player Count

* Display the total number of players

In [8]:
# Calculate the number of unique player names in the dataframe
total_players = len(purchases_df['SN'].unique())

In [9]:
summary_table = pd.DataFrame({"Total Players:": [total_players]})
summary_table

   Total Players:
0             576

In [10]:
#Display the total number of players
# Printing it directly here for review  
#print("Player Count")
#print("--------------------")
#print("Total Number of Players: *", total_players)
print("*This count is only those that have purchased something")

*This count is only those that have purchased something

In [11]:
# Calculate the number of unique items in the dataframe
total_items = (purchases_df['Item ID'].unique())

# Calculate the total number of unique items in the dataframe
item_count = len(total_items)

# Calculate the number of total purchases in the dataframe
total_purchases = (purchases_df['Purchase ID'].unique())

# Calculate the sum of all purchases in the dataframe
total_revenue_sum = (sum(purchases_df['Price']))    

total_revenue = str(round(total_revenue_sum, 2))

# Calculate the Average Purchase Price per item:  
average_p_price = str(round(purchases_df["Price"].mean(), 2))

# Calculate the number of total purchases in the dataframe
purchase_count = len(total_purchases)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Purchasing analysis Printed to review calculations & formatting

#print("Purchasing Analysis ")
#print("--------------------")
#print("Number of unique Items Purchased: ", item_count)
#print("Average Purchase Price: $", average_p_price)
#print("Total Number of Purchases: ", purchase_count)
#print("Total Revenue: $", total_revenue)

In [13]:
summary_table = pd.DataFrame({"Number of unique Items Purchased": [item_count],
                              "Average Purchase Price": "$" + average_p_price,
                              "Total Number of Purchases": purchase_count, 
                              "Total Revenue ": "$" + total_revenue})
summary_table

,Number of unique Items Purchased,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
# Get a set of unique player data

purchases_by_person_df = purchases_df[["SN", "Gender"]].drop_duplicates()
purchases_by_person_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [24]:
# Calculate the different gender types
each_gender = purchases_by_person_df['Gender'].value_counts()
each_gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [34]:
percentages = each_gender / len(purchases_by_person_df) * 100

In [ ]:

# Calculate the percentage of Males

# Calculate the number of total Females

# Calculate the percentage of females

# Calculate the Total of Other/Non-Disclosed =False

#Calculate the percentage of other/non-disclosed

In [44]:
#The table will appear when I add pd.DataFrame to my calculations !!!

gender_df = pd.DataFrame({"Total Count": each_gender, "Percentage of Players":percentages})
gender_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [45]:
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map("{:.2f}".format) + "%"
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
purchases_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [49]:
#group the persons by SN while adding the expense 
purchased_by_person = purchases_df.groupby(['SN']).sum()['Price']
purchased_by_person 
#it's going to be sort_values for sorting google sort_values~!

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame