### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load and remember to point to the correct directory 
file_to_load = 'purchase_data.csv'

In [3]:
# Read Purchasing File and store into Pandas data frame
purchases_df = pd.read_csv(file_to_load, encoding="utf-8", delimiter = ",")
purchases_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Review the column types
#purchases_df.dtypes

## Player Count

* Display the total number of players

In [5]:
#This is only the count of the players who have purchased something. 
#There may be additional players that did not purchase any items and some players made pultiple purchases.. 
player_names = len(purchases_df['SN'].unique())
#player_names shows how many unique players there are
# Calculate the number of unique player names in the dataframe
total_players = len(purchases_df['SN'].unique())
summary_total_players = pd.DataFrame({'Total Players:': [total_players]})
summary_total_players

   Total Players:
0             576

In [6]:
# Calculate the number of unique items in the dataframe
total_items = (purchases_df['Item ID'].unique())

# Calculate the total number of unique items in the dataframe
item_count = len(total_items)

# Calculate the number of total purchases in the dataframe
total_purchases = (purchases_df['Purchase ID'].unique())

# Calculate the sum of all purchases in the dataframe
total_revenue_sum = (sum(purchases_df['Price']))    

total_revenue = str(round(total_revenue_sum, 2))

# Calculate the Average Purchase Price per item:  
average_p_price = str(round(purchases_df["Price"].mean(), 2))

# Calculate the number of total purchases in the dataframe
purchase_count = len(total_purchases)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchasing analysis Printed to review calculations 
#print("Number of unique Items Purchased: ", item_count)
#print("Average Purchase Price: $", average_p_price)
#print("Total Number of Purchases: ", purchase_count)
#print("Total Revenue: $", total_revenue)

In [8]:
#using pd.DataFrame to align both row and column labels 
#The table will appear when we add pd.DataFrame to my calculations. 
#Renaming the column headers
purchasing_totals = pd.DataFrame({'Number of unique Items Purchased': [item_count],
                              'Average Purchase Price': "$" + average_p_price,
                              'Total Number of Purchases': purchase_count, 
                              'Total Revenue' : "$" + total_revenue})
purchasing_totals

,Number of unique Items Purchased,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Counting total of players by gender 
players_by_gender_df = purchases_df[['SN', 'Gender']].drop_duplicates()
players_by_gender_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [10]:
# Calculating the different gender types
# Using .value_counts to find the counts of unique values found in the Gender Column
each_gender = players_by_gender_df['Gender'].value_counts()
each_gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
#calculate the percentages of players by gender 
percentages = each_gender / total_players * 100 
percentages

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [12]:
#creating a new dataframe 
#using pd.DataFrame to align both row and column labels 
#The table will appear when we add pd.DataFrame to my calculations. 
#Renaming the value counts to "Total Counts" to make it clear 
gender_df = pd.DataFrame({'Total Count': each_gender, 'Percentage of Players':percentages})
gender_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [13]:
#Format corrections *optional
#using the .map to substitute each value in a Series with another value
#having it change the way it formats the dataframe , specifically the percentages variable
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map("{:.2f}".format) + "%"
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
#create a new dataframe for the new analysis 
#use the pd.DataFrame to align both row and column labels.
#have a series that groups the dataframe by gender column
purchases_analysis_df = pd.DataFrame(purchases_df)
gender_purchases = purchases_analysis_df.groupby(['Gender'])

In [15]:
#In the pd.DataFrame, label the columns     
#According to StackOverflow this allows it to format while the underlying data is not touched
#We established above that it's analyzing the data grouped by gender
#For purchase count count of purchases made by each gender group
#For average, find the (.mean) of those prices made by each gender group
#The combined purchases (.sum) made by each gender group
#for average (.mean) of the previously calculated total purchase 
#so we have to ask it to divide the total purchase value by the total count of players by gender that we had calculated earlier as Total Count


gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases["Price"].count(),
                                   "Average Purchase Price":gender_purchases["Price"].mean(),
                                   "Total Purchase Value":gender_purchases["Price"].sum(), 
                                   "Average Totals Per Person":gender_purchases["Price"].sum()/gender_df["Total Count"]})


gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Average Totals Per Person"] = gender_analysis_df["Average Totals Per Person"].map("${:,.2f}".format)
gender_analysis_df.head()
#after the numbers are verified, use .map("{.2f}".format) for formatting

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Totals Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
age_df = pd.DataFrame(purchases_df.drop_duplicates(['SN']))
#set the bin ranges as the example asked
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_demographic_grp = age_df.groupby(pd.cut(age_df['Age'],age_bins, labels=age_labels))

age_demographic_df = pd.DataFrame({"Total Count":age_demographic_grp['Price'].count(),
                               "Percentage of Players":age_demographic_grp['Age'].count()/total_players*100})
age_demographic_df 
#after the numbers are verified, use .map("{.2f}".format) for formatting ** Optional - Finish first, then come back to this if there is time

       Total Count  Percentage of Players
Age
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
age_df = pd.DataFrame(purchases_df.drop_duplicates(['SN']))
#set the bin ranges as the example asked
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_analysis_grp = age_df(pd.cut(age_df['Age'],age_bins, labels=age_labels)

age_analysis_df = pd.DataFrame({"Purchase Count":age_analysis_grp['Purchase ID'].count(),
                              "Average Purchase Price":age_analysis_grp['Price'].mean(),
                              "Total Purchase Value":age_analysis_grp['Price'].sum(),
                              "Avg Total Purchase per Person":age_analysis_grp["Price"].sum()/age_analysis_grp["SN"].nunique()})
age_analysis_df

SyntaxError: invalid syntax (<ipython-input-24-f6d20305a643>, line 8)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
#group the persons by SN while adding the expense 
purchased_by_person = purchases_df.groupby(['SN']).sum()['Price']
purchased_by_person 
#it's going to be sort_values for sorting google sort_values~!

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame